/* 去除格式 */
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
    color: black;
 }
 /* 公共样式 */
.container {    
    width: 1300px;
    height:101px;
    margin: 0 auto;
}
.float {
    float: left;
}
/* 头部样式 */
.public-header {
    width: 100%;
    height: 101px;
}
.logo {
    width:20%;
    height:101px;
    background: url("../images/logo.jpg");
    background-size: 100% 100%;
    margin-right: 10%; 
    
    
}
#menu {
    display: flex;
    width:70%;
    height:101px;
    line-height: 101px;
}
#menu li {
    
    flex:1;
}

#menu li a {
    font-family: "Microsoft YaHei";
    font-size: 16px;
}
#menu li a:hover {
    color: rgb(0,140,224);
    cursor: pointer;
}

/* banner样式 */
.banner {
    width:1920px;
    height: 513px;
    overflow: hidden;
    position: relative;
    
}
.list {
    width: 5760px;
    height: 513px;
    position: absolute;
}
.list img {
    width:1920px;
    height: 513px;
    float: left;。 /*此处浮动必须的，只有这样调节left值才能让第三张轮播图也能显示*/
}
.btn {
    position: absolute;
    top: 485px;
    left: 868px;
}
.btn span {
    /* display: block; */
    float: left;
    margin-right: 15px;
    width: 50px;
    height:5px;
    cursor: pointer;
    background-color: rgb(0,140,224);
}
.btn span:hover {
    background-color: white;
}
.roll {
    background-color: black;
}
/* feature部分样式 */
.feature{
    height: 408px;
    
    display: flex;
}

.feature div {
    flex: 1;
    text-align: center;
    padding-top: 126px;
}
.feature div img {
    width: 56px;
    height: 56px;
    margin: 0 auto;
}
.feature div h3 {
    font-size: 16px;
    color: #0f6fec;
    text-align: center;
    padding: 20px 0;
}
.feature div p {
    font-size: 14px;
    line-height: 26.6px;
    color: #666;    
}

.service {
    
    height: 665px;
    
    background: url("../images/背景3.png") no-repeat;
}

